<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--<context-param>

        <param-name>contextConfigLocation</param-name>

        <param-value>/WEB-INF/security.xml </param-value>

    </context-param>-->
    <!-- Spring Security -->
    <servlet>
        <servlet-name>EnlaceCrearRequisitoServlet</servlet-name>
        <servlet-class>controlador.EnlaceCrearRequisitoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controlador.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnlaceCrearRequisitoServlet</servlet-name>
        <url-pattern>/EnlaceCrearRequisitoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrearRequisitoServlet</servlet-name>
        <servlet-class>controlador.CrearRequisitoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearRequisitoServlet</servlet-name>
        <url-pattern>/CrearRequisitoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>T3Servlet</servlet-name>
        <servlet-class>controlador.T3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>T3Servlet</servlet-name>
        <url-pattern>/T3Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>controlador.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoProyectoServlet</servlet-name>
        <servlet-class>controlador.NuevoProyectoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProyectosServlet</servlet-name>
        <servlet-class>controlador.ListarProyectosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarProyecto</servlet-name>
        <servlet-class>controlador.modificarProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>controlador.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormClienteServlet</servlet-name>
        <servlet-class>controlador.FormClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProyectosServlet</servlet-name>
        <servlet-class>controlador.MostrarProyectoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuariosServlet</servlet-name>
        <servlet-class>controlador.ListarUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoUsuarioServlet</servlet-name>
        <servlet-class>controlador.NuevoUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/InicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoProyectoServlet</servlet-name>
        <url-pattern>/NuevoProyectoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProyectosServlet</servlet-name>
        <url-pattern>/ListarProyectosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarProyecto</servlet-name>
        <url-pattern>/modificarProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormClienteServlet</servlet-name>
        <url-pattern>/FormClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProyectosServlet</servlet-name>
        <url-pattern>/MostrarProyectosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuariosServlet</servlet-name>
        <url-pattern>/ListarUsuariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoUsuarioServlet</servlet-name>
        <url-pattern>/NuevoUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>log.jsp</welcome-file>
    </welcome-file-list>
</web-app>
